h1{
    font-family: 'Volkhov', serif;
    font-weight: 900;
    font-size: 86px;
}
h2{
    font-family: 'Volkhov', serif;
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 0,5em;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 1em;
    letter-spacing: 0.05em;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
}
h5{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.8;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #959595;
    margin-top: 50px;
}

.card-price{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #272727;
    padding-top: 50px;
    margin-bottom: 0px;
}

.BTW{
    color: #959595;
}